.detailsContainer {
  background-color: white;
  border: solid 1px #846099;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;	
  height: 100%;
  padding: 20px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
}

.noContent {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #666;
}