.adminTeamsList {
  border-radius: 8px;
  border: 1px solid #846099;
  overflow: hidden;
  margin: 10px;
  min-width: 25%;
  align-self: flex-start;
}


.teamItem {
  background-color: #f8f9fa; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.teamItem:not(:last-child) {
  border-bottom: 1px solid #846099;
}

.teamLink {
  
}

.selectedTeam {
  background-color: #dbcde4bb; 
}