.table-container {

}

.team-list-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0px;
  padding: 30px 20px;
  width: 100%;

  border: 2px solid black;
  border-radius: 20px;
  
  background-color: aliceblue;
}

.team-list-card .team-name {
  font-size: x-large;
  flex: 8;
}

.team-list-card .team-position {
  flex: 3;
}

.team-list-card .see-more {
  flex: 1;
}

.team-list-card-link {
  text-decoration: none;
  color: inherit;
}

/* parent of ** .team-list-card **  {
  text-decoration: none;
  color: inherit;
}
*/